/* CSS for my website */
li a{
	display:inline-block;
	text-decoration: none;

}
/*header CSS */
header {
	margin-bottom: 25px;
	font-size: 20px;
	width:100%;
	position: fixed;
	z-index: 1;
	background: white;
	overflow: hidden;
	padding-top: 25px;
}
header img{
	max-height: 100px;
	max-width: 60px;

}
header button{
	margin-top: 40px;
}
header h1{

	float: left;
}
header a{
	padding-top: 10px;
	color: #444;
	font-weight: 700;
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
nav {
	text-decoration: none;
}
nav li{
		display:inline-block;

}
.navbar-brand{

}
/*footer CSS */
footer{
	clear: both;
	padding-top: 30px;
	background: ##dadee5;
	
}
.footericons{
	margin-top: 20px;
	margin-bottom: 20px;
}

/*hero unit css */
.hero{

	margin-top: 160px;
	padding-top: 100px;
	margin-bottom: 80px;
	line-height: 200%;
}
.hero li:after{
	content: '/';
	padding: 0 5px;
	border-spacing: 1px;
}
.hero li:last-child:after{
		content: none;

}
/*change color of anchor when hover*/
a:hover{

	color: #1ABC9C;
}
section.hero{
	background: #F5F5F5;
	margin-bottom: 30px;
	overflow: hidden;
	position: relative;
	padding-top: 100px;
	

}
.herodiv{
	
    margin: 0;
    line-height: 1;
    font-weight: 60;
    letter-spacing: 1px;
    color: #333;
    text-transform: uppercase;
    font-family: 'Delius Unicase', cursive;
}

h4 .hero{
	line-height: 1.5;
}
a .herodiv{

	font-size: 8px;
	
}

div .port{
	float:right;
}
/*google fonts*/
.divheading{
	font-family: 'Gloria Hallelujah', cursive;
}
.divdesc{
	font-family: 'Indie Flower', cursive;
}
.divheading{
	padding-top: 10px;
	
}

/*copyright*/
.copyright{
	padding-top: 8px;
}
.imagegridsection{

	margin-top: 10px;
	margin-bottom: 10px;
}
.hero{
	text-align: center;
}

.hero h2{
	margin-top: -90px;
	padding-top: 0px;
}